.main {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--blueB);
}

.container {
    margin: 0 auto;
    padding: 40px 15px;
    min-width: 1200px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--white);

    padding: 30px 0;
    border: 1px solid var(--grey);
    border-radius: 40px;
}

.title {
    font-size: 32px;
    font-weight: 700;
    color: var(--title-1);
    text-align: center;
}

.vocabs__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 15px 30px;
}

.vocab {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin: 50px;
}
