.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 15px;
    min-width: 1200px;
}

.vocabs__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 15px 30px;
}

.vocab {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
