.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: max-content;
    grid-gap: 20px;
    padding: 0;
    margin: 0;
}

.card__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 20px;
    padding: 20px;

    background-color: #fff;
    border: 1px solid red;
}
