.tr__header {
    position: relative;
    gap: 20px;
}

.td__header {
    flex: 1 0 80px;
    background-color: var(--blueB);
    padding: 10px;
    border: 1px solid var(--grey);
    color: var(--white);
}

.td__header_first {
    background-color: none;
    padding: 10px;
    border: none;
}

.button {
    display: flex;
    flex-direction: row;
}

.td__btn {
    /* width: 100px;
    height: 32px; */

    padding: 10px;
    margin: 3px;

    border-radius: 7px;
    background-color: var(--purple);
    color: var(--white);
}
