.cards__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 32px;
}

.card-list {
    width: 250px;
    height: 450px;

    border: 1px solid var(--grey);
    border-radius: 25px;
}

.card-list__img {
    width: 100%;
    padding: 8px 10px;
    border-radius: 30px;
}

.card-list__title {
    font-size: 30px;
    color: var(--title-1);
}

.card-list__descr {
    padding: 10px;
}
