.vocab__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 250px;
    height: 350px;
    padding: 30px;

    border: 1px solid var(--grey);
    border-radius: 25px;

    background: #ededed;
    box-shadow:
        20px 20px 60px var(--grey),
        -20px -20px 60px #ffffff;
}

.vocab__list_word {
    font-size: 20px;
    font-weight: 700;
    color: var(--title-1);
    text-align: center;
}

.vocab__list_transcript {
    font-size: 16px;
    font-weight: 500;
    color: var(--title-1);
    text-align: center;
}

.vocab__list_translation {
    display: none;
}

.vocab__check {
    display: block;
    font-weight: 500;
    color: var(--title-1);
    text-align: center;

    transition: all 0.4s;
    transform: rotate(0deg) scale(1);
}

.vocab__list_chek {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 32px;

    padding: 5px;
    margin: 50px auto;

    border-radius: 7px;
    background-color: var(--purple);
    color: var(--white);
}
