:root {
    /* Colors */
    --blackpure: #000;
    --black: #171718;
    --black-border: #26292d;
    --white: #fff;
    --grey: #e7e7e7;
    --purple: #5c62ec;

    /* Nav */
    --nav-bg: var(--black);
    --nav-border: var(--black-border);
    --nav-text: var(--white);

    /* Header */
    --header-bg: var(--black);
    --header-text: var(--white);
    --header-border: var(--black-border);

    /* Content */
    --content-bg: var(--grey);
    --content-text: var(--black);

    /* Footer */
    --footer-bg: var(--black);
    --footer-text: var(--white);

    /* Light mode */
    --page-bg: var(--white);
    --text-color: var(--black);
    --accent: var(--purple);
    --title-1: var(--accent);

    --project-card-bg: var(--white);
    --project-card-text: var(--black);
    --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    background: var(--white);

    margin: 50px auto;
    padding: 30px 0;
    border: 1px solid red;
    border-radius: 40px;

    overflow: hidden;
}

.title-1 {
    margin-bottom: 60px;

    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--title-1);
    text-align: center;
}

.title-2 {
    margin-bottom: 20px;

    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
}

.title-3 {
    margin-bottom: 10px;

    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;
}

.content-list {
    margin: 0 auto;
    max-width: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    text-align: center;
}

/* .content-list a {
    color: var(--accent);
} */

.content-list__item {
    font-size: 18px;
    line-height: 1.5;
}

.content-list__item p {
    margin-top: 0.5em;
}

.content-levels {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: var(--content-bg);

    padding: 3px;
    border: none;
    border-radius: 7px;
}

.content-levels__btn {
    color: var(--title-1);
    background-color: var(--white);
    padding: 10px 35px;
    margin: 3px;
    border-radius: 7px;
    border: none;
    min-width: auto;
    font-size: 14px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: max-content;
    grid-gap: 20px;
    padding: 0;
    margin: 0;
}

.card__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 20px;
    padding: 20px;

    background-color: #fff;
    border: 1px solid red;
}

.card__descr {
}
