button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__arrow {
    width: 100px;
    height: 32px;

    padding: 5px;
    margin: 3px;

    border-radius: 7px;
    background-color: var(--purple);
    color: var(--white);
    cursor: pointer;
}
