/* :root { */
/* Colors */
/* --blackpure: #000;
    --black: #171718;
    --blueB: #5fa8d3;
    --white: #fff;
    --grey: #e7e7e7;
    --purple: #1b4965;
    --blue: #62b6cb; */

/* Nav */
/* --nav-bg: var(--blue);
    --nav-border: var(--blueB);
    --nav-text: var(--white); */

/* Accent */
/* --page-bg: var(--blue);
    --text-color: var(--blueB);
    --accent: var(--purple);
    --title-1: var(--accent);

    --project-card-bg: var(--white);
    --project-card-text: var(--black);
    --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25); */
/* } */

.dark-mode-btn {
    order: 9;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 32px;
    padding: 10px;

    border-radius: 50px;
    background-color: var(--purple);
}

.dark-mode-btn::before {
    content: "";

    position: absolute;
    top: 1px;
    left: 1px;

    display: block;
    width: 24px;
    height: 24px;

    transition: left 0.2s ease-in;
}

.dark-mode-btn--active::before {
    left: 26px;
}

.dark-mode-btn a {
    color: var(--nav-text);
}

.nav {
    padding: 20px 0;
    background-color: var(--nav-bg);
    border-bottom: 1px solid var(--nav-border);
    color: var(--nav-text);
    letter-spacing: normal;
}

.nav-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.logo {
    margin-right: auto;
    color: var(--nav-text);
    font-size: 24px;
    font-family: "Poppins", sans-serif;
}

.logo strong {
    font-weight: 700;
}

.logo em {
    color: var(--accent);
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    align-items: center;
    column-gap: 40px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.nav-list__link {
    color: var(--nav-text);
    transition: opacity 0.2s ease-in;
}

.nav-list__link:hover {
    opacity: 0.8;
}

.nav-list__link--active {
    position: relative;
}

.nav-list__link--active::before {
    content: "";

    position: absolute;
    left: 0;
    top: 100%;

    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--accent);
}
