.tables {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 32px;
    font-weight: 700;
    color: var(--title-1);
    text-align: center;
}

.descr {
    margin: 0.5em;
}

/* table {
    display: block;
}

tbody {
    position: relative;
} */
