.tables {
    display: flex;
    justify-content: center;

    width: 100%;
}

/* .container {

} */

table {
    display: block;
}

tbody {
    position: relative;
}

.tr__header {
    position: relative;
    gap: 20px;
}

.td__header {
    flex: 1 0 80px;
    background-color: var(--blueB);
    padding: 10px;
    border: 1px solid var(--grey);
    border-radius: 10px;
    color: var(--purple);
}
